.columns > div {
  display: flex;
  flex-direction: column;
}
.columns.block.columns-1-cols{
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding: 10px 0 0 0;
}
.columns img {
  width: 100%;
}



.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div:first-child {
    order: unset;
    max-width: 655px;
  }
  .columns > div > div:nth-child(2) {
    order: unset;
    max-width: 305px;
  }
}
