.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;

  height: 457px;
}

.hero h1 {
  height: 95px;
  width: 500px;
  margin-right: 38px;
  margin-left: 50%;
  line-height: 47.88px;
  color: #2c3a61;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin-top: 42px;
  margin-bottom: 32px;
}


.hero h2 {
  color: rgb(44, 58, 97);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;  
  margin-block-end: 18px;
  margin-block-start: 18px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;

  text-align: left;
  height: 95px;
  width: 500px;
  margin-right: 38px;
  margin-left: 50%;
}

.hero h2 > a{
  width: 100%;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  color: rgb(44, 58, 97);
  font-weight: 400;
  font-size: 18px;
  line-height: 27.9px;
  padding: 16px 16px 16px 23px;

  height: 95px;
  width: 500px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}